<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Gamedev Canvas Workshop - lesson 10: finishing up</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <canvas id="myCanvas" width="1200" height="500"></canvas>
  </body>
  <div class="col-dm-2">
    <center>
      <h1>
        Pick the color of your ball!
      </h1>
    <button class="wht" onclick="white()">
      White
    </button>
     <button class="blu" onclick="blue()">
      Blue
    </button>
     <button class="grn" onclick="green()">
      Green
    </button>
      <button class="org" onclick="orange()">
      Orange
    </button>
     <button class="pnk" onclick="pink()">
      Pink
    </button>
     <button class="red" onclick="red()">
      Red
    </button>
    </center>
  </div>
  <div class="col-dm-2">
    <center>
      <h1>
        Pick the color of the Bricks!
      </h1>
    <button class="wht" onclick="wht()">
      White
    </button>
     <button class="blu" onclick="blu()">
      Blue
    </button>
     <button class="grn" onclick="grn()">
      Green
    </button>
      <button class="org" onclick="org()">
      Orange
    </button>
     <button class="pnk" onclick="pnk()">
      Pink
    </button>
     <button class="red" onclick="rd()">
      Red
    </button>
    </center>
  </div>
  <script src="/client.js"></script>
</html>
